# Lab | Customer Analysis Round 1

#### Remember the process:

1. Case Study
2. Get data
3. Cleaning/Wrangling/EDA
4. Processing Data
5. Modeling
6. Validation
7. Reporting

### Abstract

The objective of this data is to understand customer demographics and buying behavior. Later during the week, we will use predictive analytics to analyze the most profitable customers and how they interact. After that, we will take targeted actions to increase profitable customer response, retention, and growth.

For this lab, we will gather the data from 3 _csv_ files that are provided in the `files_for_lab` folder. Use that data and complete the data cleaning tasks as mentioned later in the instructions.

### Instructions

- Read the three files into python as dataframes
- Show the DataFrame's shape.
- Standardize header names.
- Rearrange the columns in the dataframe as needed
- Concatenate the three dataframes
- Which columns are numerical?
- Which columns are categorical?
- Understand the meaning of all columns
- Perform the data cleaning operations mentioned so far in class

  - Delete the column education and the number of open complaints from the dataframe.
  - Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change `dtype` to `numerical` type.
  - Check for duplicate rows in the data and remove if any.
  - Filter out the data for customers who have an income of 0 or less.

## Solutions
 - Read the three files into python as dataframes
 - Show the DataFrame's shape.

In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv("files_for_lab/csv_files/file1.csv")
df2 = pd.read_csv("files_for_lab/csv_files/file2.csv")
df3 = pd.read_csv("files_for_lab/csv_files/file3.csv")

print(df1.shape)
print(df2.shape)
print(df3.shape)
df2

(4008, 11)
(996, 11)
(7070, 11)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

- Standardize header names.

In [5]:
df1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [6]:
df2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [7]:
df3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [8]:
cols3 = [col_name.replace('State', 'ST') for col_name in df3.columns]
#proper way to rename columns -> df1 = df1.rename(columns={'st':'state'}) anyways....continue
#I replaced State for ST

cols1 = [col_name.lower().replace(' ', '_') for col_name in df1.columns]
cols2 = [col_name.lower().replace(' ', '_') for col_name in df2.columns]
cols3 = [col_name.lower().replace(' ', '_') for col_name in cols3]


print(cols1,"\n\n", cols2,"\n\n", cols3)

['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

 ['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'total_claim_amount', 'policy_type', 'vehicle_class']

 ['customer', 'st', 'customer_lifetime_value', 'education', 'gender', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'total_claim_amount', 'vehicle_class']

- Rearrange columns

In [9]:
#We are going to rearrange the columns based on cols1
df1.columns = cols1
df2.columns = cols2
df3.columns = cols3

new_df2 = df2[cols1]
new_df3 = df3[cols1]

- Fixing percentages

In [10]:
df1["customer_lifetime_value"] = df1["customer_lifetime_value"].fillna("0")
df1["customer_lifetime_value"] = df1["customer_lifetime_value"].apply(lambda x: str(x))
df1["customer_lifetime_value"] = df1["customer_lifetime_value"].apply(lambda x: x.replace("%",""))
df1["customer_lifetime_value"] = df1["customer_lifetime_value"].astype(float)/100

new_df2["customer_lifetime_value"] = new_df2["customer_lifetime_value"].fillna("0")
new_df2["customer_lifetime_value"] = new_df2["customer_lifetime_value"].apply(lambda x: str(x))
new_df2["customer_lifetime_value"] = new_df2["customer_lifetime_value"].apply(lambda x: x.replace("%",""))
new_df2["customer_lifetime_value"] = new_df2["customer_lifetime_value"].astype(float)/100

new_df3["customer_lifetime_value"] = new_df3["customer_lifetime_value"].fillna("0")
new_df3["customer_lifetime_value"] = new_df3["customer_lifetime_value"].apply(lambda x: str(x))
new_df3["customer_lifetime_value"] = new_df3["customer_lifetime_value"].apply(lambda x: x.replace("%",""))
new_df3["customer_lifetime_value"] = new_df3["customer_lifetime_value"].astype(float)

- Concatenate

In [14]:
data = pd.concat([df1, new_df2, new_df3])
data.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,0.0000,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [15]:
#to see numerical columns
data.select_dtypes(include="number").columns

Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'total_claim_amount'],
      dtype='object')

In [17]:
#to see categorical ones
data.select_dtypes(include="object").columns

Index(['customer', 'st', 'gender', 'education', 'number_of_open_complaints',
       'policy_type', 'vehicle_class'],
      dtype='object')

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   st                         9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    12074 non-null  float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   object
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(4), object(7)
memory usage: 1.1+ MB

- Removing column education and number of open complaints

In [13]:
#Cleaning
clean_data = data.drop(columns=["education","number_of_open_complaints"])
clean_data

,customer,st,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,0.000000,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,6979.535900,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,12887.431700,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,7645.861800,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,5363.076500,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,23405.987980,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

- Check for duplicated rows in data and remove if any

In [19]:
#check for duplicated values
clean_data.duplicated().value_counts()

False    9135
True     2939
dtype: int64

In [21]:
#check what is exactly duplicated
clean_data[clean_data.duplicated(['customer'])].head()

,customer,st,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
1072,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1073,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1074,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1075,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1076,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [28]:
df = clean_data.drop_duplicates()
len(df)

9135

- Filter out the data for customers who have an income of 0 or less.

In [31]:
print("Count of clients with an income less than 0 = ",
    df[df['income'] <= 0]['income'].count())

Count of clients with an income less than 0 =  2294